@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.main{
    display: grid;
    padding:10px;
    grid-template-columns: 25% 50% 25%;
}

.block{
  border: 2px solid #000;
  margin: 10px;
  padding: 10px;
 /* box-shadow: 5px 5px 0px 0px #000;*/
  border-radius: 4px;
}

.card{
  border: 2px solid #000;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

.title{
 padding-left: 15px;
}

.icon{
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px
}

/* Navbar Style */

nav.top {
   border-bottom: 3px solid #000;
   display: flex;
   height: 50px;
   padding: 10px;
   background-color: white;
   align-items:center;
}

nav.top .right{
  float: right;
  margin-left: auto;
}
nav.top .left{
  float: left;
}

nav.top  .brand{

  font-size: 24px;
  vertical-align: middle;
} 

/* Button Style */

button {
    font-family: 'Raleway', sans-serif;
    margin: 0 5px;
    background: 18#fff;
    font-size: 20px;
    padding: 10px 15px;
    border: 3px solid #000;
    cursor: pointer;
    height: 50px;
    box-shadow: 5px 5px 0px 0px #000;
    transition:
        transform .3s ease,
        box-shadow .3s ease-in-out;
}
  
button.rounded {
    border-radius: 4px;
}
  
button:hover{
    transform: translateY(-4px);
    
}

button:active {
    background: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 0px 0px #000;
    box-shadow: none;
}

button.image{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
}

button.image img{
    height: 30px;
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Loader */

.loader{
  opacity: 1;
  position: relative;
  width: 50px;
  height: 50px;
  margin: auto;
}
.loader:before, .loader:after{
  content: "";
  display: block;
  position: absolute;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
}

.loader:before{
width: 30px;
height: 30px;
border-bottom-color: black;
border-right-color: black;
border-top-color: transparent;
border-left-color: transparent;
top: 5px;
left: 5px;
animation: rotate-animation 1s linear 0s infinite;
}

.loader:after{
width: 20px;
height: 20px;
border-bottom-color:#83f52c;
border-right-color: #83f52c;
border-top-color: transparent;
border-left-color: transparent;
top: 10px;
left: 10px;
animation: anti-rotate-animation 0.85s linear 0s infinite;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}


/* WebID Login */


.webid-login {
  position: relative;
  border: 3px solid #000;
  display: flex;
  height: 44px;
  width: 300px;
  transition:
	transform .3s ease,
    box-shadow .3s ease-in-out;
}

.webid-login:focus-within {
  transform: translateY(-4px);
  box-shadow: 5px 5px 0px 0px #000;
}

.webid-login input {
  position: absolute;
  height: 40px;
  font-size: 0;
  border: 0;
  padding: 0;
  background: none;
  z-index: 99999;
  width: 100%;
}

.webid-login input:focus, .webid-login.filled input{
  font-size: 16px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 5px;
  width: calc(100% - 20px);
  outline: none;
}

.webid-login label{
  position: absolute;
  font-size: 20px;
  transform: translate(10px, 10px);
  text-transform: capitalize;
  font-weight: 400;
  color: rgba(0,0,0,0.7);
}

.webid-login:focus-within label, .webid-login.filled label{
  font-size: 10px;
  transform: translate(10px, 5px);
  transition:
    transform .3s ease,
    font-size .3s ease,
    color .3s .1s ease;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0,0,0,1);
}

.webid-login input:focus-within, .webid-login.filled input{
  font-size: 16px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 5px;
  width: calc(100% - 20px);
  outline: none;
}

.webid-login button {
    border-bottom: none;
    border-top: none;
    border-right: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    height: 44px;
    width: 0px;
    transform: none;
    transition: width .3s ease, opacity .3s ease;
    background-color: #83f52c;
    opacity: 0;
    box-shadow: unset;
}

.webid-login button:hover {
    box-shadow: unset;
}

.webid-login span{
    display:none;
    position: absolute;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 10px;
}

.webid-login.valid input:focus, .webid-login.filled.valid input{
    width: calc(100% - 60px);
}

.webid-login.valid button {
    opacity: 1;
    background-color: #83f52c;
    width: 50px;
    transition: width .3s ease;
    color:#000;
    padding: O;
}

.webid-login.loading {
    background: rgba(0,0,0,0.3);
}

.webid-login.success {
    background: rgba(0,0,0,1);
}

.webid-login.error button{
    background: rgba(255, 34, 38,1);
}

.webid-login.success input{
    display: none;
}

.webid-login.success label{
    display: none;
}

.webid-login.success span{
    display: block;
    color: white;
}

.webid-login .arrow{
    opacity: 0;
    transform: rotate(180deg)
}

.webid-login.valid .loader{
    position:relative;
    width:0;
    height:0;
    opacity: 0;
    transition: opacity .3s ease;

}

.webid-login.valid.loading button{
    background-color: white;
}

.webid-login.valid.loading .arrow{
    height: 0;
    display: none;
}
.webid-login.valid.loading .loader{
    opacity: 1;
    position: relative;
    width: 46px;
    height: 46px;
    margin-left: 7px;
    margin-top: 5px
}

.webid-login.valid.loading .loader:before,
.webid-login.valid.loading .loader:after {
      content: "";
      display: block;
      position: absolute;
      border-width: 2px;
      border-style: solid;
      border-radius: 50%;
}

  
.webid-login.valid.loading .loader:before {
    width: 30px;
    height: 30px;
    border-bottom-color: black;
    border-right-color: black;
    border-top-color: transparent;
    border-left-color: transparent;
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite;
}
  
.webid-login.valid.loading .loader:after {
    width: 20px;
    height: 20px;
    border-bottom-color:#83f52c;
    border-right-color: #83f52c;
    border-top-color: transparent;
    border-left-color: transparent;
    top: 5px;
    left: 5px;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
}

.webid-login.valid .arrow{
    opacity: 1;
    position:relative;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor:pointer;
    transition:1s;
    overflow:hidden;
    
  }

  .webid-login.valid .arrow:hover{
    margin-left: 0;
    margin-right: 0;
    width: 50px;
  }

  .webid-login.valid.error .arrow:hover{
    margin-left: 0;
    margin-right: 0;
    width: 40px;
    padding: 0;
  }

  .webid-login.valid.error .arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:black;
    width: 10px;
    height: 10px;
    border-top:solid 2px;
    border-left:solid 2px;
    border-bottom: 0px;
    top: 50%;
    left: 15px; 
    transform-origin:0% 0%;
    transform:rotatez(-45deg);
    animation: none;
  }
  .webid-login.valid.error .arrow:before{
    transform: rotatez(135deg);
    left: 17px;
    animation: none;
  }

  .webid-login.valid.error .arrow:hover:before, .webid-login.valid.error .arrow:hover:after{
    animation: none;
  }


  .webid-login.valid .arrow:after{
    position:absolute;
    display:block;
    content:"";
    color:black;
    width: 25px;
    height: 15px;
    top:-1px;
    border-bottom:solid 2px;
    transform:translatex(4px);
    
  }
  
  .webid-login.valid .arrow:before{
    position:absolute;
    display:block;
    content:"";
    color:black;
    width: 10px;
    height: 10px;
    border-top:solid 2px;
    border-left:solid 2px;
    top:50%;
    left:2px;
    transform-origin:0% 0%;
    transform:rotatez(-45deg); 
  }
  .arrow:hover:before{
   animation: aniArrow01 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  .arrow:hover:after{
   animation: aniArrow02 1s cubic-bezier(0, 0.6, 1, 0.4) infinite 0.5s;
  }
  
  
  @keyframes aniArrow01 {
    0% {
      transform:rotatez(-45deg) translateY(30px) translateX(30px);
    }
    100% {
      transform: rotatez(-45deg) translateY(-35px) translateX(-35px);
    }
  }
  
  @keyframes aniArrow02 {
    0% {
      transform:translateX(45px);
    }
    100% {
      transform:translateX(-44px);
    }
  }

  .webid-login.loading .arrow {
    width: 0;
  }

  .webid-login.loading input{
    pointer-events:none;
  }
  
  
/* Tree */

.tree, .tree ul, .tree li {
  position: relative;
}

.tree ul {
 list-style: none;
 padding-left: 15px;
}


.tree li::before, .tree li::after {
  content: "";
  position: absolute;
  left: -12px;
}

.tree li::before {
  border-top: 2px solid #000;
  top: 9px;
  width: 8px;
  height: 0;
}

.tree li::after {
  border-left: 2px solid #000;
  height: 100%;
  width: 0px;
  top: 2px;
}

.tree ul > li:last-child::after {
  height: 8px;
}

.tree li.pod::before, .tree li.pod::after {
  content: "";
  position: absolute;
  left: 0px;
}

.tree label{
  font-weight: 500;
}

.tree label:hover{
  color: #83f52c;
}

.tree label.active{
  font-weight: 700;
}

.tree li.pod::before {
  border: none;
  top: 0;
  width: 0;
  height: 0;
}

.tree li.pod::after {
  border: none;
  top: 0;
  width: 0;
  height: 0;
}


/* Icons style */

.gg-folder {
  transform: scale(var(--ggs,1))
 }
 
 .gg-folder,
 .gg-folder::after {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  width: 22px;
  height: 16px;
  border: 2px solid;
  border-radius: 3px
 }
 
 .gg-folder::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 4px;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  top: -5px
 }

 .gg-more-r {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 20px;
  border: 2px solid;
  border-radius: 3px;
 }
 
 .gg-more-r::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  display: block;
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 20px;
  top: 6px;
  left: 8px;
  box-shadow: -5px 0 0, 5px 0 0;
 } 

.menu.icon {
  color: #000;
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 2px;
  background-color: currentColor;
}

.browser.icon {
  color: #000;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 2px currentColor;
}

.browser.icon:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 11px;
  height: 11px;
  border-radius: 85% 15%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: solid 2px currentColor;
}

.browser.icon:after {
  content: '';
  position: absolute;
  top: 7px;
  width: 15px;
  height: 2px;
  background-color: currentColor;
}


.refresh.icon {
  color: #000;
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 2px currentColor;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px transparent;
  border-right: solid 2px currentColor;
}

.refresh.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 10px;
  width: 3px;
  height: 3px;
  border-top: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}





